@import "./variables.scss";

.story {
    background-color: $color_bege;
    text-align: left;
    padding: 4rem;

    h1 {
        color: $color_brown;
        font-weight: 800;
    }

    p {
        text-align: justify;
    }
}