// FONT SIZES
$font_size_normal: 1rem;
$font_size_big: 1.2rem;
$font_size_small: 0.8rem;

// COLORS
$color_browndark: #291201;
$color_brown: #88431A;
$color_bege: #D7C7B6;
$color_white: #FCF6EF;
$color_purple: #9871A4;
$color_black: #050402;

//FONT
